@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  background-color: #e0e0e0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//reset
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin action-btns {
  background-color: #1976d2;
  padding: 0.5em 1em;
  border-radius: 20px 20px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #2669ac;
  }
}

nav {
  height: 10vh;
  background-color: #fff;
  @include flex-center();
  box-shadow: 0px 15px 10px -15px #111;

  h1 {
    font-size: 35px;
    font-weight: 900;
  }
  .fa-book {
    margin-right: 0.2em;
  }
}

main {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  .open-button {
    @include action-btns();
    align-self: center;
    margin-top: 1em;
  }

  .book-list {
    margin-top: 1em;
    text-align: center;
  }

  .book {
    @include flex-center();
    justify-content: space-between;
    background-color: #fff;
    padding: 0.5em 1em 0.5em 1em;
    font-size: clamp(12px, 2vw, 1.2rem);
    width: 90%;
    margin: 0 auto;
    height: 50px;
    border-left: 0.5em solid blueviolet;
    border-bottom: 0.1px solid black;
    position: relative;

    &.strike {
      @extend .book;
      text-decoration: line-through;
      background-color: rgba(255, 255, 255, 0.521);
    }

    .name {
      font-weight: 900;
      padding: 1em;
      flex-basis: 70%;
    }

    .page {
      flex-basis: 30%;
    }

    input[type='checkbox'] {
      cursor: pointer;
    }
    button {
      position: absolute;
      right: 10px;
      background-color: rgb(223, 89, 89);
      color: #fff;
      height: clamp(17px, 1vh, 1.5rem);
      width: auto;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: red;
      }
    }
  }

  .book-checker {
    position: absolute;
    left: 0;
  }
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

form {
  min-width: 350px;
  min-height: 60%;
  background-color: #fff;
  @include flex-center();
  flex-direction: column;
  gap: 0.5em;

  input[type='text'],
  input[type='number'] {
    height: 60px;
    width: 250px;
    padding-left: 1em;
  }

  .btns-container {
    @include flex-center();
    gap: 0.5em;
  }

  #submit-btn,
  .cancel {
    @include action-btns();
  }

  .success-msg {
    display: none;
    color: rgb(77, 182, 77);
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  @include flex-center();
  background-color: #fff;
}

@media only screen and (min-width: 900px) {
  main {
    .book {
      height: 80px;
      width: 70%;
    }
  }
}
