@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  background-color: #e0e0e0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

nav {
  height: 10vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 10px -15px #111;
          box-shadow: 0px 15px 10px -15px #111;
}

nav h1 {
  font-size: 35px;
  font-weight: 900;
}

nav .fa-book {
  margin-right: 0.2em;
}

main {
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .open-button {
  background-color: #1976d2;
  padding: 0.5em 1em;
  border-radius: 20px 20px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1em;
}

main .open-button:hover {
  background-color: #2669ac;
}

main .book-list {
  margin-top: 1em;
  text-align: center;
}

main .book, main .book.strike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 0.5em 1em 0.5em 1em;
  font-size: clamp(12px, 2vw, 1.2rem);
  width: 90%;
  margin: 0 auto;
  height: 50px;
  border-left: 0.5em solid blueviolet;
  border-bottom: 0.1px solid black;
  position: relative;
}

main .strike.book {
  text-decoration: line-through;
  background-color: rgba(255, 255, 255, 0.521);
}

main .book .name {
  font-weight: 900;
  padding: 1em;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

main .book .page {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

main .book input[type='checkbox'] {
  cursor: pointer;
}

main .book button, main .book.strike button {
  position: absolute;
  right: 10px;
  background-color: #df5959;
  color: #fff;
  height: clamp(17px, 1vh, 1.5rem);
  width: auto;
  border: none;
  cursor: pointer;
}

main .book button:hover {
  background-color: red;
}

main .book-checker {
  position: absolute;
  left: 0;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  min-width: 350px;
  min-height: 60%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

form input[type='text'],
form input[type='number'] {
  height: 60px;
  width: 250px;
  padding-left: 1em;
}

form .btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

form #submit-btn,
form .cancel {
  background-color: #1976d2;
  padding: 0.5em 1em;
  border-radius: 20px 20px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

form #submit-btn:hover,
form .cancel:hover {
  background-color: #2669ac;
}

form .success-msg {
  display: none;
  color: #4db64d;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

@media only screen and (min-width: 900px) {
  main .book, main .book.strike {
    height: 80px;
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */