html,body{
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
    font-family: Open Sans, serif;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.6502800949481355) 100%); 
}

.description{
    text-align: center;
}

form {
    display: flex;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    position: fixed;
    right: 40%;
    width: 150px;
    height: 56px;
    padding: 16px 20px;
    background-color:#1c89ff;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    opacity: 0.8;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  position: fixed;
  right: 6%;
  display: none;
  border: 3px solid #0c0c0c;
  font-size: 18px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.6502800949481355) 100%); 
}

/* nput fields */
.form-container input[type=text]{
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* k */


table {
    margin-top: 100px;
    width: auto;
}

table th{
    padding-right: 200px;
}


#submit-button, .form-container .cancel{
    width: 150px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 300;
    transition: all .1s ease-in-out;
}

#submit-button:hover, .form-container .cancel:hover{
    background-color: teal;
    border-color: #fff;
    transition: all .1s ease-in-out;
}

input[type=text]{
    padding: 10px;
    margin-left: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c89ff;
    color: white;
    text-align: center;
}

.footer-desc{
    float: left;
    margin-left: 10px;
    text-align: center;
}

.links{
    padding-top: 15px;
    padding-right: 20px;
    float: right;
}

.links a{
    text-decoration: none;
    color: white;
}